<p><%= link_to "Create Spell", "/wizards/#{@wizard.id}/wizard_spells/new", method: :get %> </p>
<p><%= link_to "Sort Alphabetically", "/wizards/#{@wizard.id}/wizard_spells?sorted=true", method: :get %></p>


<% @wizard_spells.each do |wizard_spell| %>
  <div id="wizard_spell-<%= wizard_spell.id %>">
    <h3>Spell Name: <%= wizard_spell.name %></h3>
    <p>Learned: <%= wizard_spell.learned %></p>
    <p>Spell Level: <%= wizard_spell.spell_level %></p>
  </div>
<% end %>

<section class="spell_threshold">
  <%= form_with url: "/wizards/#{@wizard.id}/wizard_spells", method: :get do |f| %>
    
    <%= f.label :threshold, "Spells above level:" %>
    <%= f.number_field :threshold %>

    <%= f.submit "submit"%>
  <% end %>
</section>